<div class="navbar">
  <div class="container">
    <nav>
      <ul class="text-center">
        <li>
          <a href="<%= root_path %>">
            <%= image_tag 'logo.jpeg', { class: 'avatar', alt: "Marcus Pereira" } %>
            <strong>Marcus Pereira</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/marcuxyz/" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/marcuxyz/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
