<div class="navbar">
  <div class="container">
    <nav>
      <ul class="text-center">
        <li>
          <%= link_to root_path do %>
            <%= image_tag 'logo.jpeg', { class: 'avatar', alt: "Marcus Pereira" } %>
          <% end %>
        </li>
        <li>
          <%= link_to 'Marcus Pereira', root_path %>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/marcuxyz/" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
