<section class='contents'>
  <% if @posts.present? %>
    <h1>Conteúdos</h1>
    <p>Dicas e tutoriais de desenvolvimento de software com contéudos feitos em vídeos, áudios e escritos. </p>
    <%= render 'posts/post', { posts: @posts } %>
  <% else %>
    <h1 class="text-center">Não existe conteúdo para exibir</h1>
  <% end %>
</section>
