<section>
  <%= render 'posts/form' %>
</section>

<div class='grid contents'>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div>
        <%= render 'posts/post', { post: post } %>
        <hr />
      </div>
    <% end %>
  <% else %>
    <h1 class="text-center">Não existe conteúdo para exibir</h1>
  <% end %>
</div>
