<section class='contents'>
  <% if @posts.present? %>
    <h1>Notas</h1>
    <p>Pequenas notas escritas focadas no desenvolvimento rápido e prático.</p>
    <%= render 'posts/post', { posts: @posts } %>
    <div class="text-right">
      <%= link_to 'Exibir todas as notas', posts_path %>
    </div>
  <% else %>
    <h1 class="text-center">Não existe conteúdo para exibir</h1>
  <% end %>
</section>
