<div class='grid contents'>
  <% posts.each do |post| %>
    <div>
      <a class='published_content' href='<%= post_path(post) %>'>
        <article  data-category='<%= post.category.name %>'>
          <h5><%= post.title %></h5>
        </article>
      </a>
    </div>
  <% end %>
</div>
