<section>
  <div class="grid contents">
    <div>
      <a href="post.html">
        <article>
          <h3>
            <%= @post.title %>
          </h3>
        </article>
      </a>
    </div>
  </div>

  <% if  @post.embeded_video.present? %>
    <div class="grid contents">
      <div>
        <%= @post.embeded_video.html_safe %>
      </div>
    </div>
  <% end %>
</section>

<section>
  <div class="grid contents">
    <div>
      <p>
        <%= @post.content %>
      </p>
    </div>
  </div>
</section>
