html,
body {
  display       : flex;
  min-height    : 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

nav ul li strong {
  margin-left: 5px;
}

ion-icon {
  font-size: 30px;
}

nav li a {
  color: white;
}

.flex {
  display        : flex;
  justify-content: space-between;
}

article {
  margin       : 0;
  padding      : 0;
  border-radius: var(--border-radius);
  background   : none;
  box-shadow   : none;
}

article>footer {
  margin-top                : 0 !important;
  margin-bottom             : calc(var(--block-spacing-vertical) * -1) !important;
  border-top                : none;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius : var(--border-radius);
  background-color          : inherit;
}

article>footer,
article>header {
  padding: calc(var(--block-spacing-vertical) * .46) var(--block-spacing-horizontal);
}

.contents h3 {
  margin-bottom: 13px;
}

.author {
  margin-left: 5px;
}

.contents {
  grid-template-columns: repeat(1, 1fr);
  gap                  : 1.8rem;
}

hr {
  margin-top: 3rem;
}

/* Tools */

a {
  text-decoration: none;
}

a:hover {
  color: rgb(216, 232, 248);
}

.avatar {
  border-radius: 50%;
  width        : 38px;
  height       : auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
